
<section class="bg-zeus-950 h-96">
  <div class="container mx-auto grid grid-cols-3 max-md:grid-cols-1 ">
    <div class="flex flex-col max-md:hidden">
      <img src="./iduke/iduke-256.png" alt="IDuke" class="w-72">
      <p class="font-semibold text-white/90">انجمن کاربران جاوا</p>
      <p></p>
    </div>
    <div class="mt-28 ">
      <h3 class="text-white font-semibold">لینک های مرتبط</h3>
      <div class="flex flex-col text-white/70 leading-8 mt-5">
        <a href="/about">{{"menu.about" | translate}}</a>
        <a href="/contact">{{"menu.contact" | translate}}</a>
        <a href="/blog">{{"menu.blog" | translate}}</a>
        <a href="/events">{{"menu.events" | translate}}</a>
        <a href="/resources">{{"menu.resources" | translate}}</a>
      </div>
    </div>
    <div class="mt-28 ">
      <h2 class="text-white font-semibold">خبرنامه</h2>
      <p class="my-2 text-white/60">برای اطلاع از اخبار و رویداد های جدید می
        توانید
        ایمیل خود را
        وارد
        کنید.</p>

      <input
        class="shadow peer appearance-none border-zeus-800 border caret-zeus-200 placeholder-white/50 rounded w-full py-2 px-3 bg-zeus-800 text-white leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="info@ijug.ir">

      <button
        class="peer-invalid:cursor-not-allowed peer-empty:cursor-not-allowed peer-invalid:btn-disabled peer-empty:btn-disable my-2 btn bg-zeus-800 border-zeus-800 hover:btn-neutral  hover:scale-105 text-white">ذخیره
        ایمیل</button>
    </div>
  </div>
</section>
