<div class="flex shadow-md ...">
  <div class="flex-initial w-80 hidden lg:flex ..."></div>
  <div class="grow h-20 ...">
    <div class="flex h-20 ...">
      <div class="navbar bg-base-100">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <fa-icon [icon]="faHamburger" />
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
            >
              @for(menu of headerMenu;track menu){
              <li>
                <a [href]="menu.route">{{ "menu." + menu.name | translate }}</a>
              </li>
              }
            </ul>
          </div>
          <a href="/" class="btn btn-ghost text-xl">
            <img
              src="/iduke/iduke-70.png"
              alt="Iranian Java User Group Logo"
              class="h-10"
            />
          </a>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            @for(menu of headerMenu;track menu){
            <li>
              <a [href]="menu.route">{{ "menu." + menu.name | translate }}</a>
            </li>
            }
          </ul>
        </div>
        <div class="navbar-end">

          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn m-1">
              <fa-icon [icon]="faInternational" />
            </div>
            <ul
              tabindex="0"
              class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
            >
              @for(lang of languages;track lang){
              <li>
                <a
                  (click)="changeLanguage(lang)"
                  [innerHTML]="'languages.' + lang | translate"
                ></a>
              </li>
              }
            </ul>
          </div>
          @if (!userToken) {
            <button (click)="openLoginModal()" class="btn btn-ghost">
              <fa-icon [icon]="faLock" />
              {{ "user.login" | translate }}
            </button>
            <button (click)="openRegisterModal()"
                    class="mr-2 btn btn-secondary">
              {{ "user.register" | translate }}
            </button>
          } @else {
            <div class="dropdown dropdown-end">
              <div tabindex="0" role="button" class="btn btn-secondary m-1">
                <fa-icon [icon]="faUser" />
              </div>
              <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
              >
                <li>
                  <span class="font-semibold text-gray-800">
                    {{userData.first_name + ' '+ userData.last_name}}
                  </span>
                </li>
                <li>
                  <span class="font-xs text-gray-500">
                    {{userData.position}}
                  </span>
                </li>
                <li>
                  <a class="font-normal" [routerLink]="'/user'">{{'user.profile' | translate}}</a>
                </li>
                <li>
                  <a class="font-normal" [routerLink]="'/user/tickets'">{{'user.tickets' | translate}}</a>
                </li>
                <li>
                  <a class="font-normal" [routerLink]="'/user/payments'">{{'user.payments' | translate}}</a>
                </li>
                <li>
                  <a class="font-normal"
                     (click)="logout()">{{'user.logout' |
                    translate}}</a>
                </li>

              </ul>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="flex-initial w-80 hidden lg:flex ..."></div>
</div>

<app-login [isOpen]="isModalOpen" (close)="closeLoginModal()"> </app-login>
<app-register [isOpen]="isRegisterModalOpen" (close)="closeRegisterModal()">
</app-register>
