<div class="flex shadow-md ...">
  <div class="flex-initial w-80 ..."></div>
  <div class="grow h-20 ...">
    <div class="flex h-20 ...">
      <div class="flex-initial w-96 align-middle ...">
        <img src="/iduke/iduke-100.png" alt="Iranian Java User Group Logo">
      </div>
      <div class="grow self-center align-middle text-center ...">
        <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
          @for(menu of headerMenu;track menu){
            <li><a [href]="menu.route">{{'menu.'+menu.name | translate}}</a></li>
          }
        </ul>
      </div>
      <div class="flex-initial self-center w-96 align-middle text-left ...">
<!--        <button class="btn btn-ghost">-->
<!--          <fa-icon [icon]="faInternational"/>-->
<!--        </button>-->
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn m-1">
            <fa-icon [icon]="faInternational"/>
          </div>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
            @for(lang of languages;track lang){
              <li><a (click)="changeLanguage(lang)" [innerHTML]="'languages.'+lang | translate"></a></li>
            }
          </ul>
        </div>
        <button class="btn btn-ghost">
          <fa-icon [icon]="faLock"/>
          {{'user.login' | translate }}
        </button>
        <button class="mr-2 btn btn-secondary">{{'user.register' | translate }}</button>
<!--        <button class="btn btn-primary">Primary</button>-->
      </div>
    </div>
  </div>
  <div class="flex-initial w-80 ...">
  </div>
</div>
